<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

    <nav class="main-nav" th:fragment="navigation">
        <ul>
            <li class="nav-item active">
                <a class="btn nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" th:href="@{/airplanes}">Fleet</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" th:href="@{/airports}">Airports</a>
            </li>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="btn nav-link" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" th:href="@{/users/register}">Register</a>
                </li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="btn nav-link" th:href="@{/airplanes/add}">Add Airplane</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="btn nav-link" th:href="@{/cities/add}">Add City</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('MODERATOR')">
                <a class="btn nav-link" th:href="@{/airports/add}">Add Airport</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="btn nav-link" th:href="@{/admin/users}">User Roles</a>
            </li>
            <li class="nav-item">
                <form class="main-nav"
                        th:method="post"
                        th:action="@{/users/logout}">
                    <input class="btn btn-link nav-link" type="submit" value="Logout">
                </form>
            </li>
            </th:block>
        </ul>
</nav>

</body>
</html>