<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Airline Tickets Application</title>
    <th:block th:replace="~{fragments/head}"/>
</head>
<body class="body-main">
<header th:insert="~{fragments/navigation::navigation}"></header>
<main class="p-5 align-content-center my-register-div">

    <h1 class="text-center text-light">
        <strong class="pl-3 font-weight-bold" th:text="${title}">Found flights</strong>
    </h1>

    <div class="d-flex justify-content-center">

        <th:block th:if="${foundFlights.isEmpty()}">
            <h3 class="text-light">Sorry no flights were found</h3>
        </th:block>
        <table class="text-light table" th:unless="${foundFlights.isEmpty()}">
            <thead>
            <tr>
                <th>Flight number</th>
                <th>Origin airport</th>
                <th>Destination airport</th>
                <th>Airplane model</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th sec:authorize="isAuthenticated()">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight : ${foundFlights}">
                <td th:text="*{flight.flightNumber}">Flight number</td>
                <td th:text="*{flight.originAirport}">Origin airport</td>
                <td th:text="*{flight.destinationAirport}">Destination airport</td>
                <td th:text="*{flight.airplaneModel}">Airplane model</td>
                <td th:text="${#temporals.format(flight.departureDateTime, 'dd-MM-yyyy HH:mm')}">Departure</td>
                <td th:text="${#temporals.format(flight.arrivalDateTime, 'dd-MM-yyyy HH:mm')}">Arrival</td>
                <td sec:authorize="isAuthenticated()">
                    <a th:href="@{/tickets/reserve/{flightId}(flightId=*{flight.id})}" class="btn btn-primary">
                        Get ticket
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block th:replace="~{fragments/footer}"/>
</body>
</html>
